{% load static %}
<div class="section-footer">
    <div class="bg-footer-wrapper">
        <div class="bg-footer">
            <div class="hero-container position-relative z-2">
                <div class="d-flex flex-column gspace-2">
                    <div class="row row-cols-xl-4 row-cols-md-2 row-cols-1 grid-spacer-5">
                        <div class="col col-xl-4">
                            <div class="footer-logo-container">
                                <div class="logo-container-footer">
                                    <img src="{% static 'image/logo.png' %}" alt="Logo" class="site-logo img-fluid">
                                </div>
                                <h4>Driving Digital Growth with Innovation & Strategy.</h4>
                                <p>
                                   At BitRiots, we specialize in turning brand vision into market authority. Our data-driven marketing and creative excellence ensure your business doesn't just grow—it dominates.
                                </p>
                            </div>
                        </div>
                        <div class="col col-xl-2">
                            <div class="footer-quick-links">
                                <h5>Quick Links</h5>
                                <ul class="footer-list">
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                    <li><a href="{% url 'service' %}">Service</a></li>
                                    <li><a href="{% url 'team' %}"> Our Team </a></li>
                                    <li><a href="{% url 'blog' %}">Blog</a></li>
                                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                    <li><a href="{% url 'faq' %}">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-xl-3">
                            <div class="footer-services-container">
                                <h5>Services</h5>
                                <ul class="footer-list">
                                    <li><a href=" ">Social Media Marketing</a></li>
                                    <li><a href=" ">SEO Optimization</a></li>
                                    <li><a href=" ">Marketing Strategy</a></li>
                                    <li><a href=" ">Design and Strategy</a></li>
                                    <li><a href=" ">Branding Strategy</a></li>
                                    <li><a href=" ">Creative Agency</a></li>
                                    <li><a href=" ">Online Branding</a></li>
                                    <li><a href=" ">Digital Growth</a></li>
                                    <li><a href=" ">Web Development</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-xl-3">
                            <div class="footer-contact-container">
                                <h5>Contact Info</h5>
                                <ul class="contact-list">
                                    <li>Officialbitriots@gmail.com</li>
                                    <li>+91 8679210967</li>
                                    <li>Dehradun, Uttarakhand 248001, India</li>
                                </ul>
                                <div class="d-flex flex-column gspace-1">
                                    <h5>Social Media</h5>
                                    <div class="social-container">
                                        
                                        <div class="social-item-wrapper">    
                                            <a href="https://www.instagram.com/bitriots?igsh=N2wyZW82N2RnM2Uw&utm_source=qr" class="social-item">
                                                <i class="fa-brands fa-instagram"></i>
                                            </a>
                                        </div>
                                        <div class="social-item-wrapper">
                                            <a href="https://www.linkedin.com/company/bitriots/" class="social-item">
                                                <i class="fa-brands fa-linkedin"></i>
                                            </a>
                                        </div>
                                        <div class="social-item-wrapper">
                                            <a href="https://facebook.com" class="social-item">
                                                <i class="fa-brands fa-facebook"></i>
                                            </a>
                                        </div> 
                                      <div class="social-item-wrapper">
                                            <a href="https://youtube.com" class="social-item">
                                                <i class="fa-brands fa-youtube"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-content-spacer"></div>
                </div>
                <div class="copyright-container">
                    <span class="copyright">© 2026 bitriots. All Rights Reserved.</span>
                    <div class="d-flex flex-row gspace-2">
                    <a href="{% url 'policy' %}" class="legal-link">Terms of Service</a>
                    <a href="{% url 'term' %}" class="legal-link">Privacy Policy</a>
                </div>
                </div>
                <div class="footer-spacer"></div>
            </div>
        </div>
    </div>
</div>